.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: cornflowerblue;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  margin-bottom: 30px;
}

.button-group button {
  background-color: transparent;
  border: 1px solid #007BFF;
}

.input-search {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
  max-width: 400px;
}

.input-search label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  text-align: center;
}

.input-search input {
  padding: 10px 15px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-search input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-search input::placeholder {
  color: #999;
}
